<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110137824205-t8ut2tfv1rnbg9c6hhl2kf40s9pem6nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110137824205-t8ut2tfv1rnbg9c6hhl2kf40s9pem6nf</string>
	<key>API_KEY</key>
	<string>AIzaSyCZETJho4eHwIKU83g-Wf-4Bb5DLrz5bQM</string>
	<key>GCM_SENDER_ID</key>
	<string>110137824205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ambulance</string>
	<key>PROJECT_ID</key>
	<string>ambulance-booking-app-2025</string>
	<key>STORAGE_BUCKET</key>
	<string>ambulance-booking-app-2025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110137824205:ios:7597f96951012cca936a84</string>
</dict>
</plist>